body, html {
    height: 100%;
    margin: 0px;
    font-family: 'PT Sans Narrow', sans-serif; 
    background-color: #d3dfb8;
}

header, h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    height: 100px;

}

h1{
    border-right: 6px solid #A38560;
    border-left: 6px solid #A38560;
}

.my-image{
    height: 600px;
    width: 100px;
    border: 10px;
     
}

.co-pilot{
    height: 180px;
  width:180px;
  object-fit: cover;
  border-radius: 20px;
}